.button-core {
    background-image: linear-gradient(#4569e3, #293d81);
    color: #fff;
    border: solid 1px #203066;
}

.button-core:hover {
    background-image: linear-gradient(#fdc084, #bd8b73);
    border:solid 1px #ac7f6f;
    color:#fff;
}




