.window-core {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background:transparent;
    display:none;
}

.window-core-panel {
    background: transparent;
    border: solid 1px #203066;
    --bs-card-bg: #203066;
    overflow: hidden;
}

.window-core-panel-header {
    background-image: linear-gradient(#4569e3, #293d81);
    color:#fff;
    font-size:16px;
    font-weight:bold;
}

.window-core-panel-body {
    background-color: rgba(12.5,12.2,14.1,0.9);
}

.window-core-button-container {
    z-index:1;
    position:absolute;
    right:12px;
    box-sizing:border-box;
    height: 43px;
    text-align:right;
    padding-top:12px;
    padding-bottom:10px;
}

.window-core-button {
    height:21px;
    width:21px;
    background-image: linear-gradient(#555, #333);
    border: solid 1px #203066;
    border-radius:3px;
    color:#fff;
    text-align:center;
}

.window-core-button:hover {
    background-image: linear-gradient(#fdc084, #bd8b73);
    border:solid 1px #ac7f6f;
    color:#fff;
}

.button-window-icon {
    position: relative;
    top: -2px;
}
